<div>
    <table class="table" ng-controller="eventsCtrl">
            <tr>
                <td class="col-sm-1 col-xs-2">ID#</td>
                <td class="col-sm-2 col-xs-3">Type</td>
                <td class="col-sm-3 col-xs-5">Event</td>
                <td class="col-sm-2 col-xs-2"></td>
                <td class="col-sm-3 hidden-xs"></td>
                <td class="col-sm-1 hidden-xs">RSVP'd</td>
            </tr>
            <tr ng-repeat="event in events" ng-controller="eventCtrl" ng-class="bgColor()">
                <td>{{ event.id }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.name }}</td>
                <td><a ng-href="#/events/{{ event.id }}">Details</a></td>
                <td class="hidden-xs" ng-show="event.response === ''">
                    <button type="button" class="btn btn-primary" ng-click="rsvp(event.id, 'Yes')">Yes</button>
                    <button type="button" class="btn btn-danger" ng-click="rsvp(event.id, 'No')">No</button>
                </td>
                <td class="hidden-xs" ng-show="event.response !== ''">
                    <a class="btn btn-success" ng-href="#/events/{{ event.id }}">Edit RSVP</a>
                </td>
                <td class="hidden-xs" ng-model='response'>{{ event.response }}</td>
            </tr>
    </table>
</div>
